*{
    padding:0;
    margin: 0;
    font-family: 'Source Serif Pro', serif;
}

body{
    background-color: rgb(224, 224, 224);
}

.imgCabecera{
    width:270px;
    height:270px;
    display:flex;
    position: absolute;
    border-radius: 200px;
    margin: 20px;
}

.cabecera>h1 {
    width:100%;
    height:100%;
    text-align: center;
    font-size: 170px;
    font-family: 'Dancing Script', cursive;

}

.cabecera>p, .subtitulo{
    text-align: center;
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
}

.subtitulo{
    text-shadow: 20px 14px 7px rgb(99, 98, 98);
}

.item {
    /* border: black solid;    */
    margin:5px;
    border-radius:10px;
}

.introduccion>p{
    font-size: 20px;
    margin:10px;
    text-align: center;
    font-weight: bold;
}

.foto{
    background-image: url("https://scontent.fcor2-2.fna.fbcdn.net/v/t39.30808-6/306006697_650737739749954_4847079097128317208_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=e3f864&_nc_ohc=QqGagTMIzM8AX9XqxyG&_nc_ht=scontent.fcor2-2.fna&oh=00_AT_mWZvGsPdM-E1Eix5VIt_gF-YvWWBlCt1tFVUdpR7YRw&oe=635A5A38");
    height: 450px;
    /* background-image: url(""); */
}

.container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.punto{
    /* border: black solid; */
    width:500px;
    height:300px;
    margin:10px;
    box-shadow: -0.1em -0.1em 0.05em rgb(107, 90, 76);
    border-radius:15px;
    background-color: antiquewhite;
}
.punto>h3{
    font-size: 30px;
    text-align: center;
}

.punto>p{
    font-size: 15px;
    text-align: center;
    margin: 10px;
}

.carrera-actoral{
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

.actor{
    height:175px;
    /* margin: 0 400px; */
}

.albunes{
    margin:15px;
    text-align: center;
    font-size: 25px;
}

.link>a{
    text-decoration: none;
    color:brown;
}

